
<!-- 滚动logo-->
<div class=" clients-wrapp">
    <div class="container">
        <div class="flexslider clients-slider ">
            <ul class="slides client-block">
                <li>
                    <foreach name="limages" item="limage">
                        <div class="one-fifth">
                            <a href="{$limage.url}" class="tooltip" title="{$limage.information}"><img src="{$limage.imgurl}" alt=""/></a>
                        </div>
                    </foreach>
            </ul>
        </div><!-- flex slider ends -->
    </div>
</div>
<section id="copyrights">
    <section class="container">
        <div class="one-half">
            <p>
                Copyright &copy; 2016  All rights reserved.
            </p>
        </div>
        <div class="one-half">
            <ul class="copyright_links">
                <li><a href="#" title="Home">Home</a></li>
            </ul>
        </div>
    </section>
</section>
</div>
<!-- main wrapp starts-->
</div>
<!-- main container ends-->

</body>
</html>