<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言列表</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/public.css" type="text/css">
</head>
<body>
<h4 style="font-size: 30px">留言板</h4>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>微信或者QQ</th>
        <th>意向</th>
        <th>推荐人或者机构</th>
        <th>资讯内容</th>
    </tr>
    <!--循环开始-->
    <foreach name="messages" item="message">
        <tr>
            <td>{$message.name}</td>
            <td>{$message.email}</td>
            <td>{$message.wq}</td>
            <td>{$message.idea}</td>
            <td>{$message.who}</td>
            <td>{$message.message}</td>
        </tr>
    </foreach>
    <!--循环结束-->
</table>
{$page}
</body>
</html>