<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>img</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/public.css" type="text/css">
</head>
<body>

<table class="table">
    <tr>
        <th>图片名称</th>
        <th>时间</th>
        <th>点击跳转URL</th>
        <th>类型</th>
        <th>所属</th>
        <th>输出的字</th>
        <th>操作</th>
    </tr>
    <!--循环开始-->
    <foreach name="images" item="image">
        <tr>
            <td>{$image.name}</td>
            <td>{$image.datetime}</td>
            <td>{$image.url}</td>
            <if condition="$image.type eq 0">
                <td>滚图</td>
                <else/>
                <td>友情链接</td>
            </if>
            <if condition="$image.en eq 0">
                <td>中文版</td>
                <else/>
                <td>英文版</td>
            </if>
            <td>{$image.information}</td>
            <td><button value="{$image.id}" onclick="return xg(this)">修改</button>
                <button value="{$image.id}" onclick="return sc(this)">删除</button></td>
        </tr>
    </foreach>
    <!--循环结束-->
</table>

<script>
    function sc(obj) {
        if (confirm("确定要删除？")) {
            window.location.href = "{:U('img/sc')}" + "?id=" + obj.value;
        }
    }
    function xg(obj) {
        window.location.href = "{:U('img/index')}" + "?id=" + obj.value;
    }
</script>
</body>
</html>